<div> <div><Span>Current Total Sensors data showing: {{this.currentSensorsData}}</Span></div>
<div class="live-chart-root" style="width: 95vw !important; height: 95vh !important;" >
   <div class="heatmap-container" style="overflow: auto !important; border: 1px solid #ccc;">
    <canvas #heatmapCanvas style="width: 90vw; height: 90vh; display: block;"></canvas>
  </div>

  <div class="detail-panel" *ngIf="selectedSensorId">
    <div class="detail-header">
      <h3>{{ selectedSensorId }}</h3>
      <button (click)="closeDetail()">Close</button>
    </div>
    <div class="detail-chart">
      <canvas #detailCanvas></canvas>
    </div>
  </div>
</div>
</div>
